body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  padding: 0 2rem;
}

.content {
  min-height: calc(100vh - 50px - 64px);
  padding: 2rem 0;
}

.goods {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
}

.card-content {
  flex-grow: 1;
}

.card-action {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */

  cursor: pointer;
  z-index: 5;
  padding: 1rem;
}

@media (min-width: 767px) {
  .cart {
    top: 5rem;
    bottom: unset;
  }
}

.cart-quantity {
  margin-left: 0.5rem;
  font-size: 1.3rem;
  font-weight: 600;
}

.basket-list {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: #fff;
  width: 50rem;
  max-width: 90%;

  box-shadow: -1px 10px 14px 3px rgba(130, 130, 130, 0.8);
  -webkit-box-shadow: -1px 10px 14px 3px rgba(130, 130, 130, 0.8);
  -moz-box-shadow: -1px 10px 14px 3px rgba(130, 130, 130, 0.8);

  animation: show 500ms ease-in-out;
}

.basket-close {
  cursor: pointer;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  color: #fff;
}

.basket-delete {
  cursor: pointer;
}

@keyframes show {
  from {
    top: 40%;
    opacity: 0;
  }

  to {
    top: 50%;
    opacity: 1;
  }
}

.basket-quantity-change {
  font-size: 1.4rem;
  cursor: pointer;
  margin: 0 1rem;
  color: rgb(0, 0, 153);
  font-weight: 800;
}

.card-image {
  width: 10rem;
}
